# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# Project specific
output/
models/
# dataset/ # Uncomment if you want to exclude the dataset (recommended if large)
