version: '3.8'

services:
  backend:
    build: .
    container_name: gcpbbb_backend
    command: uvicorn src.api:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models # Mount models so they can be updated without rebuilding
    restart: always

  frontend:
    build: .
    container_name: gcpbbb_frontend
    command: streamlit run src/dashboard.py --server.port 8501 --server.address 0.0.0.0
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
    restart: always
