@import "tailwindcss";

@theme {
  --color-helios-dark: #050505;
  --color-helios-card: #121212;
  --color-helios-accent: #FFD700;
  --color-helios-blue: #2979FF;
  --color-helios-success: #00E676;
  --color-helios-danger: #FF1744;
  --color-helios-warning: #FFAB00;

  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-helios-dark text-white font-sans;
}