@import "tailwindcss";

@theme {
  --color-helios-dark: #0f172a;
  --color-helios-card: #1e293b;
  --color-helios-accent: #38bdf8;
  --color-helios-success: #22c55e;
  --color-helios-danger: #ef4444;
  --color-helios-warning: #eab308;

  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-helios-dark text-white font-sans;
}